@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    z-index: 1000;
}

header .logo img{
    width: 25%;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

                    @media (max-width: 1448px) {
                        header{
                            padding: 20px;
                        }
                        header label{
                            display: initial;
                        }
                        header .navbar{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background: #fff;
                            border-top: 1px solid rgba(0, 0, 0, .1);
                            display: none;
                        }
                        header .navbar ul li{
                            width: 100%;
                        }
                        header .navbar ul li ul{
                            position: relative;
                            width: 100%;
                        }
                        header .navbar ul li ul li{
                            background: #eee;
                        }
                        header .navbar ul li ul li ul{
                            width: 100%;
                            left: 0;
                        }
                        #menu-bar:checked ~ .navbar{
                            display: initial;
                        }
                    }
                    @media (max-width: 1500px) {
                        header{
                            padding: 10px;
                        }
                        header label{
                            display: initial;
                        }
                        header .navbar{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background: #fff;
                            border-top: 1px solid rgba(0, 0, 0, .1);
                            display: none;
                        }
                        header .navbar ul li{
                            width: 100%;
                        }
                        header .navbar ul li ul{
                            position: relative;
                            width: 100%;
                        }
                        header .navbar ul li ul li{
                            background: #eee;
                        }
                        header .navbar ul li ul li ul{
                            width: 100%;
                            left: 0;
                        }
                        #menu-bar:checked ~ .navbar{
                            display: initial;
                        }
                    }

/* Home Section */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.container {
    position: relative;
    width: 80%;
    height: 500px;
}

.contents {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left Side */

.contents .left {
    position: relative;
    top: 25%;
    width: 50%;
    height: 100%;
    text-align: left;
    color: #333;
    opacity: 0;
    animation: fade 1s linear forwards;
    animation-delay: 1s;
}

    @keyframes fade {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

.contents .left h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-left: -15%;
    margin-bottom: 20px;
}

.contents .left span {
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    margin-left: -15%;
}

/* Right Side */

.contents .right {
    width: 50%;
}

.contents .right .home1IMG {
    position: relative;
    width: 105%;
    top: 10px;
    right: -10%;
    opacity: 0;
    animation: fade_in 1s linear forwards;
}

    @keyframes fade_in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

.contents .right .homelTop {
    position: absolute;
    top: -30px;
    width: 20%;
    right: 27%;
    opacity: 0;
    animation: fade_in2 1s linear forwards;
    animation-delay: 1s;
}

    @keyframes fade_in2 {
        0%{
            opacity: 0;
            transform: translateX(-50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.contents .right .homelBot {
    position: absolute;
    top: 240px;
    width: 18%;
    right: 28.4%;
    opacity: 0;
    animation: fade_in3 1s linear forwards;
    animation-delay: 1.5s;
}

    @keyframes fade_in3 {
        0%{
            opacity: 0;
            transform: translateX(-50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.contents .right .homeTop {
    position: absolute;
    top: -50px;
    width: 18%;
    right: 9.5%;
    opacity: 0;
    animation: fade_in4 1s linear forwards;
    animation-delay: 2s;
}

    @keyframes fade_in4 {
        0%{
            opacity: 0;
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.contents .right .homeBot {
    position: absolute;
    top: 270px;
    width: 18%;
    right: 9.5%;
    opacity: 0;
    animation: fade_in5 1s linear forwards;
    animation-delay: 2s;
}

    @keyframes fade_in5 {
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.contents .right .homerTop {
    position: absolute;
    top: -30px;
    width: 18%;
    right: -9%;
    opacity: 0;
    animation: fade_in6 1s linear forwards;
    animation-delay: 2.5s;
}

    @keyframes fade_in6 {
        0%{
            opacity: 0;
            transform: translateX(50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.contents .right .homerBot {
    position: absolute;
    top: 240px;
    width: 18%;
    right: -9.5%;
    opacity: 0;
    animation: fade_in7 1s linear forwards;
    animation-delay: 3s;
}

    @keyframes fade_in7 {
        0%{
            opacity: 0;
            transform: translateX(50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.homeHR {
    display: none;
}

                    @media screen and (max-width: 1620px) {
                        .contents .left span {
                            display: inline-flex;
                            position: relative;
                            text-align: start;
                        }
                    }

                    @media screen and (max-width: 1600px) {
                        .contents .right {
                            top: 10%;
                        }
                        .contents .right .home1IMG {
                            top: 30px;
                        }
                    }

                    @media (max-width: 1450px) {
                        .contents .left {
                            top: 10%;
                        }
                    }

                    @media screen and (max-width: 1400px) {
                        /* .contents .right .home1IMG {
                            top: 100px;
                        } */
                    }

                    @media screen and (max-width: 600px) {
                        .contents{
                            display: block;
                        }
                        .contents .left{
                            top: -10%;
                        }
                        .contents .left h2 {
                            font-size: 2.5rem;
                            margin-bottom: 25px;
                            
                        }
                        .contents .left span {
                            display: inline-flex;
                            font-size: 1.7rem;
                            position: relative;
                            text-align: end;
                            left: 100%;
                        }
                        .contents .right .home1IMG {
                            width: 150%;
                            top: -100px;
                            left: 25%;
                        }
                        .contents .right .homelTop {
                            top: 78%;
                            width: 25%;
                            left: 10%;
                        }
                        .contents .right .homelBot {
                            top: 95%;
                            width: 25%;
                            left: 10%;
                        }
                        .contents .right .homeTop {
                            top: 76%;
                            width: 25%;
                            right: 37.5%;
                        }
                        .contents .right .homeBot {
                            top: 96%;
                            width: 25%;
                            right: 37.5%;
                        }
                        .contents .right .homerTop {
                            top: 78%;
                            width: 25%;
                            left: 65%;
                        }
                        .contents .right .homerBot {
                            top: 95%;
                            width: 25%;
                            left: 65%;
                        }
                        .homeHR {
                            display: flex;
                            margin-top: 46%;
                            filter: blur(2px);
                            opacity: 5;
                        }
                    }

                    @media screen and (max-width: 375px) {
                        .contents{
                            display: block;
                        }
                        .contents .left{
                            top: -10%;
                        }
                        .contents .left h2 {
                            font-size: 2.5rem;
                            margin-bottom: 20px;
                        }
                        .contents .left span {
                            display: inline-flex;
                            font-size: 1.5rem;
                            position: relative;
                            text-align: end;
                            left: 100%;
                        }
                        .contents .right .home1IMG {
                            width: 150%;
                            top: -100px;
                            left: 25%;
                        }
                        .contents .right .homelTop {
                            top: 78%;
                            width: 25%;
                            left: 10%;
                        }
                        .contents .right .homelBot {
                            top: 95%;
                            width: 25%;
                            left: 10%;
                        }
                        .contents .right .homeTop {
                            top: 76%;
                            width: 25%;
                            right: 37.5%;
                        }
                        .contents .right .homeBot {
                            top: 96%;
                            width: 25%;
                            right: 37.5%;
                        }
                        .contents .right .homerTop {
                            top: 78%;
                            width: 25%;
                            left: 65%;
                        }
                        .contents .right .homerBot {
                            top: 95%;
                            width: 25%;
                            left: 65%;
                        }
                        .homeHR {
                            display: flex;
                            margin-top: 46%;
                            filter: blur(2px);
                            opacity: 5;
                        }
                    }

                    @media screen and (max-width: 360px) {
                        .contents .left span {
                            font-size: 1.4rem;
                        }
                    }

/* Services Section */

.services {
    background: #eee;
    margin-top: 30vh;
}

.services .containerServ .heading {
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 500;
    color: #222;
}

.services .box-container {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.services .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: .3rem;
    overflow: hidden;
}

.services .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}
  
.services .box-container .box:hover img {
    transform: scale(1.3);
}

.services .containerServ .servDesc {
    align-items: center;
    margin-top: -20px;
}

.services .containerServ .servDesc p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 8px;
}

                    @media screen and (max-width: 411px) {
                        .services {
                            margin-top: 20vh;
                        }
                        .services .containerServ .heading {
                            font-size: 2.5rem;
                            font-weight: 500;
                            color: #222;
                        }
                        .services .box-container {
                            margin-top: 2.5vh;
                        }
                        .services .box-container .box {
                            max-width: 75%;
                            height: 50%;
                            overflow: hidden;
                        }
                        .services .containerServ .servDesc p{
                            font-size: 1em;
                            margin-bottom: 8px;
                        }
                    }
                    